@use "mixins";
@use "animations";

:root {
  // filter: url('data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"f\" color-interpolation-filters=\"linearRGB\"><feGaussianBlur stdDeviation=\"2\"/></filter></svg>#f');
  // filter: url('data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"f\" color-interpolation-filters=\"linearRGB\"><feComponentTransfer><feFuncR type=\"gamma\" offset=\"0.5\"/><feFuncG type=\"gamma\" offset=\"0.5\"/><feFuncB type=\"gamma\" offset=\"0.5\"/></feComponentTransfer></filter></svg>#f');
}



html {
  font-family: 'MPlusRounded', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'MPlusRounded', serif;
  }
}

body {
  background-color: var(--siteBackground);
  transition: all 100ms animations.$ease;

  &.-dark {

  }
}

html, 
p {
  margin: 0;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -0.01rem;
  color: rgba(var(--frontRGB), 0.75);
}

p {
  b {
    font-weight: 900;
  }

  a {
    color: rgba(var(--frontRGB), 0.75);
  }
}

// Headers

h1,
h2,
h3,
h4,
h5,
h6,
.-h1,
.-h2,
.-h3,
.-h4,
.-h5,
.-h6 {
  margin: 0;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.01rem;
  color: var(--front);
}

h1, 
.-h1 {
	@include mixins.r('font-size', 64, 64);
}

h2, 
.-h2 {
	@include mixins.r('font-size', 48, 48);
}

h3, 
.-h3 {
	@include mixins.r('font-size', 32, 32);
}

h4, 
.-h4 {
	@include mixins.r('font-size', 26, 26);
}

h5, 
.-h5 {
	@include mixins.r('font-size', 22, 22);
}

h6, 
.-h6 {
	@include mixins.r('font-size', 18, 18);
}

// Body

.-p1,
.-p2,
.-p3,
.-p4,
.-p5,
.-p6 {
  margin: 0;
  font-weight: 300;
  color: var(--front);
}

.-p1 {
	@include mixins.r('font-size', 27, 27);
}

.-p2 {
	@include mixins.r('font-size', 24, 24);
}

.-p3 {
	@include mixins.r('font-size', 20, 20);
}

.-p4 {
	@include mixins.r('font-size', 16, 16);
}

.-p5 {
	@include mixins.r('font-size', 14, 14);
}

.-p6 {
	@include mixins.r('font-size', 12, 12);
}

.-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  @include mixins.rs(
    ('padding-left', 20, 50),
    ('padding-right', 20, 50),
    ('padding-top', 30, 50),
    ('padding-bottom', 30, 50)
  );
}
