@font-face {
  font-family: 'Sniglet';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/Sniglet-ExtraBold.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/Sniglet-ExtraBold.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'MPlusRounded';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/MPLUSRounded1c-Bold.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/MPLUSRounded1c-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'MPlusRounded';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/MPLUSRounded1c-Regular.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/MPLUSRounded1c-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}